@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  html {
    @apply font-sans;
    font-size: 112.89%;
  }
  body {
    background: #0a0a0a;
    -webkit-font-smoothing: antialiased;
  }
}
